@charset "utf-8";

::selection{
    background-color: #aaa;
}

@font-face {
    font-family: 'Gothama';
    src: url('fonts/58ec68d5f629d80dbc71b34b.gif');
    src: url('fonts/58ec68d5f629d80dbc71b34b.gif') format('embedded-opentype'), url('fonts/58ec68d5f629d80dbc71b34b.bmp') format('woff'), url('fonts/58ec68d5f629d80dbc71b34b.jpg') format('truetype'), url('fonts/58ec68d5f629d80dbc71b34b.png') format('svg');
}

.Gothama {
    font-family: Arial !important;
}

.container{
    > .row{
        //min-height: 30rem;
    }

}

.body{
    margin:0;
}

.section{
    width: 100%;
    margin: 0 !important;
    min-height:20rem;

    h1,h2,h3,h4,h5,h6{
        text-align: center;
    }
}


.welcome-page{
    height: 100vh;
    -webkit-transition: ease 1000ms;
    -moz-transition:   ease 1000ms;
    -ms-transition:   ease 1000ms;
    -o-transition:   ease 1000ms;
    transition:   ease 1000ms;
    background-repeat: no-repeat;
    background-position: 0 0;

    #black{
        position: absolute;
        width:100%;
        height: 100%;
        top:0;
        left:0;
        background-color: #222;
        opacity: 0.8;
    }

    h1,h2, h3, h4, h5, h6{
        color: #fff;
        text-align: center;
    }

    #title{
        text-transform: uppercase;
    }

    #slogan{
        text-transform: capitalize;
    }
}